[2014-08-22 14:18] miguelaferreira commented on #324
I too am missing a new version in the supermarket with this recipe.

[2014-08-25 20:58] cjhubert commented on #327
Hmm, I've just been looking at the `current_resource` docs and am not sure how we would accomplish that in this instance. I might be missing something, it looks like I'd have to get the current password from somewhere with `load_current_resource`.

Maybe instead we should separate the admin credentials used to authenticate with the database from the admin created. So you would change the admin use

[2014-08-26 07:18] miguelaferreira commented on #327
@ceejh what you propose seems the most simple solution. As an example, see the nexus cookbook README (https://github.com/RiotGames/nexus-cookbook). They define `default_admin` and `updated_admin` to accomplish the update. As long as the default is kept in synch with the current credentials it should always be possible to set updated credentials.

[2014-08-29 17:48] hhoover opened #330 "Cookbook does not support CentOS 7"
Using the default recipe/test suite:

[code]

[2014-09-01 19:29] jamesonjlee commented on #330
awww, will look into it.

[2014-09-09 21:05] kplimack opened #333 "Replicaset recipe fails with "undefined method '>' for nil:NilClass""
Recipe: mongodb::replicaset
#   \* ruby_block[config_replicaset] action create
# Error executing action `create` on resource 'ruby_block[config_replicaset]'
## NoMethodError

undefined method `>' for nil:NilClass
## Cookbook Trace:

/var/chef/cache/cookbooks/mongodb/libraries/mongodb.rb:62:in `block in configure_replicaset'
/var/chef/cache/cookbooks/mongodb/libraries/mongodb.rb:55:in`each_index'
/

[2014-09-10 13:50] willejs opened #334 "Why does the mms_backup_agent service not get created?"
The action is nothing?

https://github.com/edelight/chef-mongodb/blob/master/recipes/mms_backup_agent.rb#L49

[2014-09-10 14:34] cjhubert commented on #333
Are you using chef-solo or chef-server?

[2014-09-10 19:53] cjhubert commented on #327
@miguelaferreira Would you please take a look at [this branch](https://github.com/ceejh/chef-mongodb/compare/admin-user-update) and see if the changes would meet your needs for this issue for me? Thanks.

[2014-09-12 17:26] gwaldo commented on #296
Agreed.  This is not working with 2.6.4

[code]

yields:

[code]

[2014-09-12 21:19] cjhubert commented on #326
Just an update for you guys, I'm slightly struggling on coming up with a solution that works well with this so I'm going to have to ask for help. I've gotten it to a point where the mongod servers come up successfully, but no user is created. Re-provisioning the nodes does successfully create the user though.

The problem, I believe, is that `rs.initialize()` hasn't happened yet. Regardless of how

[2014-09-17 19:54] srathbun commented on #333
I ran into the same problem using chef-server. It seems to be an issue with how I'm starting all of my nodes. The sharding+replication wiki page leaves something to be desired. I've configured each node with the roles and options needed, but how do I stand them up together?

I have just been kicking off a mass chef-client command on all of them together, but that fails now that I have more nodes.

[2014-09-17 20:01] cjhubert commented on #333
The reason I asked chef-solo or chef-server is because it appears to be error'ing out on this line:

[code]

Which sounds like `slave_delay` is currently `nil`. That should be being read from the `search()` of node variables. On chef-server I think this would work without issue but on chef-solo you have to use data_bags for `search()` to work. I think I ran into this exact issue when I first start

[2014-09-17 20:10] srathbun commented on #333
@ceejh It varies between the one up above, and `undefined method [] for nil:NilClass`  when attempting to run the config_sharding block. It seems that the search is running prematurely, and not populating the shard_nodes variable with any contents, since the shards do not exist yet or something.

Since I started using chef yesterday, it may be an issue with how I'm kicking off the build across the

[2014-09-17 22:01] jamesonjlee commented on #334
so you can start it if you want to? (maybe a config flag if you want to).

[2014-09-18 15:29] TalkingQuickly commented on #296
Hey for anyone stuck on this, it's due to some changes in paths and naming (e.g. mongodb v mongod etc) in 2.6.something, not sure exactly which one. Something like this in the node definition should sort it out:

[code]

There's still something not right here as when you re-run a cook, mongo doesn't restart and you have to ssh in and run `sudo service mongod restart` so I'm missing something with

[2014-09-18 15:33] TalkingQuickly commented on #296
For anyone finding this result via google, this PR:

https://github.com/edelight/chef-mongodb/pull/262

Contains a more exhaustive list of the attributes to be updated.

[2014-09-18 20:28] srathbun commented on #333
Ok, so it is my fault. To whom it may concern, it's important to start from a _pristine_ set of nodes. Configuring a cluster to use one configserver and then trying to add two more, _does not work_. The mongos refuses to start, and then the ruby code throws errors, which were red herrings.

Make sure that your nodes do not have mongo running, or old database files laying about. Then, make sure to

[2014-09-18 20:55] cjhubert commented on #333
Thanks for posting your findings, glad you were able to get it sorted out, and sorry I wasn't any help (definitely didn't have any ideas myself). Yea, [adding config servers](http://stackoverflow.com/questions/7034317/mongodb-adding-new-config-servers-in-production) seems to be difficult from what I've google'd/read. Handling it automatically through the cookbook might be a pretty tall order.

[2014-09-19 21:02] TonyCerrit opened #339 "Possible missing attribute in replicaset.rb"
[line 32](https://github.com/edelight/chef-mongodb/blob/master/recipes/replicaset.rb#L32) doesn't look right. It is currently `replicaset    node` when I think it should be `replicaset    node['mongodb']['config']['replset']`. Just looking for some confirmation that is correct syntax. It came to my attention when trying to set up a replica set and search seems to fail with error being `undefined m

[2014-09-22 07:54] miguelaferreira commented on #327
@ceejh sorry for the long silence. Starting tests on your branch now.

[2014-09-22 09:35] miguelaferreira commented on #327
@ceejh my first test was to have chef-client run twice with the same attributes and that is failing with the following message:

[code]

The attributes I've set are:

[code]

The recipes I've added to the runlist are:

[code]

The full output from the chef-client error:

[code]

[2014-09-22 14:16] cjhubert commented on #327
It looks like you have a typo in `['authetication']` for the password. The connection attribute in the logs shows this because it's still using the default password of `admin` for authentication.

This kind of points out that the system might have some flaws in over-complicating things with two variables though... (also, it kind of sucks that all the config values are in the connection object in t

[2014-09-22 17:13] miguelaferreira commented on #327
You are right! It was the typo.
BTW I've copied the attribute name from the updated README.md. So you will find the typo there as well (line 249).

After correcting te typo, my initial test passed. And the following test where I update te password also passed. (I could not authenticate with the old password, and I could authenticate with the new password.)

I ran another test, which was to re-run

[2014-09-22 18:43] cjhubert commented on #327
Ah, completely my fault for making the typo. I'm glad you followed the instructions to find it though! I'll update it and make a PR soon (hopefully). I've kind of made this part of another thing [I was working on](https://github.com/ceejh/chef-mongodb/compare/users-in-replicasets) to get the user management stuff working in replicaset / sharded instances.

[2014-09-22 18:45] miguelaferreira commented on #327
Cool! I'm not yet using the HA features of mongodb but will soon. Let me know if you need help testing your stuff because I should have an infrastructure ready for that soon.

[2014-09-25 13:49] sashazykov opened #341 "Version '2.4.9' for 'mongodb-org' was not found"
I am getting this error on my ubuntu nodes which were deployed using this cookbook:

[code]

Please, help me to fix it. I have tried to change package version to 2.4.11, but it doesn't help.

[2014-09-25 14:02] sashazykov commented on #341
It used to install 10gen package, but now it's trying to install mongodb-org.

[2014-09-25 14:05] sashazykov commented on #341
Probably, it's happened after upgrading the cookbook from 0.13.4 to 0.16.1.

[2014-09-30 12:59] cjhubert commented on #326
Sorry for the lack of updates guys. I figured out the reason mongos wouldn't start was because `auth=true` isn't a valid setting for mongos config file, d'oh. I didn't think at the time to check the upstart logs instead of the mongo logs. After I figured that out, I added retries to most of the code for configuring users.

Not my favorite way to handle things, but it looks like the recipe already

[2014-09-30 16:29] jamesonjlee commented on #339
it should be the node object (as in the current node's configuration).  It should probably be expanded to the explicitly required configuration rather than trying to pass the chef-node object.

otherwise, it is 'correct' in the recipe.

[2014-09-30 16:31] jamesonjlee commented on #341
if you are latest head (which reminds me we need to push the latest to supermarket) this should be fixed.

[2014-10-02 13:31] thomas-riccardi commented on #308
From the CHANGELOG: `DEPRECATE '10gen_repo' for 'mongodb_org_repo' #287 (dropping in 0.16.2)`. Please don't do that until major version change, ie _not_ in 0.16.2.
(Also, the README still refers to 10gen_repo).

[2014-10-02 14:33] srathbun commented on #298
I bumped into this too. It's especially annoying because [this line](https://github.com/edelight/chef-mongodb/blob/master/libraries/mongodb.rb#L62) fails since there is no slave_delay on the node, and the previous lookup gets `nil:NilClass`. The same thing happens on [this line](https://github.com/edelight/chef-mongodb/blob/master/libraries/mongodb.rb#L69) as well.

That kills the chef-client upda

[2014-10-02 17:08] thomas-riccardi commented on #326
@ceejh I believe the issue is that the mongodb service notification that runs `ruby_block[config_replicaset]` is not immediate (but `ruby_block[config_sharding]` is:  `:immediately`).

[2014-10-02 17:15] thomas-riccardi commented on #244
Issue #326 is related to this, and more precise: the replicaSet _is_ configured when the first chef-client run has finished. However it's only configured at the end of the run, see my comment https://github.com/edelight/chef-mongodb/issues/326#issuecomment-57662702.

[2014-10-02 17:39] thomas-riccardi opened #342 "Issues with `notifies` on `mongodb_instance` definition"
The `mongodb_instance` definition accepts the usual `notifies` parameter, which is great to start services that depend on mongodb for example.

However the current implementation has several issues.
# Issue 1:

This seemingly standard and correct usage doesn't work:

[code]

Error:

[code]

This non standard way works though:

[code]
# Issue 2:

There is no way to specify a different action than `

[2014-10-03 13:34] thomas-riccardi commented on #326
Also, I don't understand `run_config_replicaset` exists, but for the same reasons it should probably notify `ruby_block[config_replicaset]` immediately and not be delayed.

[2014-10-06 06:38] sashazykov commented on #341
Now I get this error:

[code]

[2014-10-06 15:22] iceydee commented on #316
Having the same issue.

[2014-10-06 18:36] jamesonjlee commented on #298
that was the intent of the default recipe that drop in the configurations, yeah the empty members for setting up replica/shards is still an ongoing issue.

what should the bootstrap recipe do that the current default install recipes doesn't do?

[2014-10-06 18:41] jamesonjlee commented on #341
so it says dependency problems, can you see what package it needs?

[2014-10-06 19:00] srathbun commented on #298
Basically, instead of bringing up mongo or installing a service, it would just set properties on the node. A user would not add it to the run list for this node, but would override the a chef client run to set all these defaults. I.E. `knife ssh 'role:shard' 'chef-client -o bootstrap'`

That would get them the attributes they need for when the client actually runs and brings mongo up. The trouble

[2014-10-07 04:10] sashazykov commented on #341
Now it says "Version '2.4.11' for 'mongodb-org' was not found" ;( I don't really understand what's happening. Maybe I somehow switched from another cookbook, I used to use `replicaset_name` and `key_file` attributes, but I can't find them in this cookbook docs.

[2014-10-07 04:26] sashazykov commented on #341
I removed version number from my role configuration and now it works, but my old configuration is not used:

[code]

[2014-10-07 11:17] #341 closed, assigned to nobody

[2014-10-07 13:29] sashazykov opened #343 "init.d script is broken"
I am getting this error, because `/etc/default/mongodb` contains `DAEMON="/usr/bin/$NAME"`

[code]

[2014-10-07 18:47] jamesonjlee commented on #298
@srathbun ah yes the 'if 3 instances come up at the same time' problem.  The best solution for that in my opinion is to not to do it inside of chef (Chef isn't responsible for orchestration).  There are potential solutions (like doing a separate discovery channel) but they need additional work to setup.

My usual recommendation for this situation is to spin up 1 node first, let it converge then be

[2014-10-07 18:48] jamesonjlee commented on #341
@alexandrz that's because the cookbook on supermarket is outdated (and I have not bumped or released).

I will see if I can get some done through this week(end).

[2014-10-10 10:18] thomas-riccardi commented on #342
Issue 3 is easily fixed by using `:immediately` notification for the `ruby_block[config_replicaset]`: I tested this for one week now.
Is a release for Issue 3 planned soon? Or at least a commit in master? (Otherwise I'll have to create a local fork)

[2014-10-15 20:22] luntzel commented on #316
Here as well. Ubuntu 12.04 and mongo 10gen

[2014-10-16 08:58] goncalopereira commented on #295
I have a similar problem recently with a DNS failure which meant the replicaset broke as there is no way to override the replicaset list as seen here: https://github.com/edelight/chef-mongodb/blob/bd92ed176af2efdaefb1016b732a239d3e199be6/libraries/mongodb.rb

your fix allows to use IP Addresses with MongoS but not regular ReplicaSets - any suggestions?

[2014-10-16 09:00] goncalopereira opened #345 "Use IPAddress instead of Name for ReplicaSet"
I had a problem recently with a DNS failure which meant the replicaset broke as there is no way to override the replicaset list as seen here: https://github.com/edelight/chef-mongodb/blob/bd92ed176af2efdaefb1016b732a239d3e199be6/libraries/mongodb.rb

your fix allows to use IP Addresses with MongoS but not regular ReplicaSets - any suggestions?

I saw another post saying that a CNAME would be easie

[2014-10-16 16:57] jamesonjlee commented on #342
for issue 3, you can submit a PR for it, seems simple enough to accept.

[2014-10-21 01:21] Sauraus opened #346 "syslog attribute is a NOP as the attribute is not used anywhere"
Setting syslog = true has no effect on logging because the attribute is not used anywhere else to enable '--syslog' on mongod start.

[2014-10-21 22:24] dgarstang commented on #297
Still broken.

[2014-10-21 22:52] dgarstang opened #347 "RS_ prefix hard coded."
In libraries/mongodb.rb:

key = "rs_#{n['mongodb']['shard_name']}"

Why is a "rs_" prefix hard coded at the front? This isn't documented. Wasted time.

[2014-10-22 00:04] benatkin commented on #153
:+1:

[2014-10-22 17:07] dgarstang opened #348 "Sharding doesn't work."
Best I can tell, multiple shards just can't work.

shard_nodes = search(
      :node,
      "mongodb_cluster_name:#{new_resource.cluster_name} AND \
       mongodb_is_shard:true AND \
       chef_environment:#{node.chef_environment}"
    )

That's going to return ALL nodes across ALL shards and then pass it to the addshard() command. The addshard command takes nodes that comprise a single shard, n

[2014-10-22 18:19] jamesonjlee commented on #347
'replica_set' I think, if you want to update it to be configurable, I am happy to accept that PR.
One thing is to be careful to preserve the old `rs_STUFF` for people who are currently using this.

[2014-10-26 23:07] GUI commented on #330
I've submitted a pull request which I believe fixes things under CentOS 7: #350

[2014-10-29 01:37] wolf31o2 commented on #215
I would _kill_ to be able to simply specify the information this cookbook needs to setup a replica set. I am quite able to provide a role which gives the information needed by this cookbook. While trying to integrate this with [Coopr](https://github.com/caskdata/coopr), I ran into this search issue. Requiring `chef-zero` or a chef server isn't really the best answer.

[2014-10-29 01:47] wolf31o2 commented on #186
Any movement on this front? I _really_ need `chef-solo` support for my project.

[2014-10-29 01:53] wolf31o2 commented on #186
More info on my needs at caskdata/coopr-templates#11

[2014-10-29 02:04] wolf31o2 commented on #122
Using `chef-solo-search` means providing a data bag with the nodes. Again, not the best way to go about it. Removing the requirement for search, entirely, is definitely the way to go. Roles/JSON, then data bag, then search, please.

[2014-10-29 11:16] Igorshp commented on #316
Hi guys,

We ran into this issue couple of days when a node in replicaset failed and new one failed chef provisioning.

The issue is that the package installs /etc/init/mongod.conf and the cookbook (by default) creates /etc/init/mongod.conf

Problem is specially bad if you use a replicaset:
mongodb.conf (made by chef) does have the replicaset config
mongod.conf (made by package does NOT.

mongod.c

[2014-10-31 22:41] jamesonjlee commented on #316
yeah, I need to update/verify the config.  One thing I did notice before on this was that (once) a package maintainer changed the name of the config before.

[2014-11-06 16:29] ghost opened #353 "issues with replicaset configuration"
I'm guessing I am missing something obvious since if this didn't work I would expect more issues about this.  I am trying to setup a cluster with replica set rs1 which consists of shard1 (shard name) and replica set rs2 which consists of shard2 (shard name).  Everything seems to work ok but I get the following error from Shard1:

ERROR: configuring replicaset returned: {"errmsg"=>"exception: need

[2014-11-06 19:59] ghost commented on #348
I know this is no help at all but it seems to be the same issue with the replication.  By chance have you figured anything out with this?

[2014-11-08 08:14] lxndrp opened #354 "runit dependency obsolete?"
Folks,

we are currently cleaning up our dependencies and removing old cookbook versions from our chef server. Looking through the cookbooks, I noticed that `mongodb` has an `runit` dependency, but frankly, I couldn't find any reference to it in the cookbook.

Is that one obsolete, or am I missing something?

Cheers,
Alexander

[2014-11-11 07:43] jamesonjlee commented on #354
I think it's an old dependency, removed it.

[2014-11-11 07:48] jamesonjlee commented on #354
yeah, I believe it was a dependency on the old mms agents.

[2014-11-11 07:48] #354 closed, assigned to nobody

[2014-11-11 07:49] jamesonjlee commented on #353
seems to be related to the other one, search is :|

[2014-11-13 19:25] rleibman opened #355 "Installation to chef fails."
Hi. is this the right repo for the chef-mongodb cookbook that's on the chef supermarket? it doesn't have the "view source" button, so I have no idea.

I'm using chef 11.12.2, which installed ruby 1.9.3p484
I think the problem lies with a default argument in the user.rb file, I know little about ruby, but if it's anything like other languages I know, default arguments have to be the last argument i

[2014-11-24 15:15] mguinada commented on #341
I still see this issue on version 0.16.2 or the latest head!

0.16.2 log output:

[code]

Can someone shed some light on this?

[2014-12-04 13:57] brodock commented on #316
:+1:

[2014-12-04 14:20] brodock opened #357 "Updating node['mongodb']['config'] does not trigger server restart/reload"
I was trying with chef-solo (can't say if it's only because of that), and updated node config variables. That did not triggered server restart.

I beleive this is the culprit: https://github.com/edelight/chef-mongodb/blob/7298f37f766d746af440a56af70e49c28636d9dd/recipes/install.rb#L58

(I'm using Ubuntu 14.04 with 10gen repo running on vagrant wich chef-solo)

[2014-12-05 22:12] jamesonjlee commented on #357
were you changing values?

[code]

[2014-12-17 12:59] tony612 commented on #186
+1

[2014-12-18 09:29] Zhomart commented on #316
Chef creates starter file to `/etc/init/mongodb.conf`, as defined [here](https://github.com/edelight/chef-mongodb/blob/master/recipes/install.rb#L28) and ubuntu loads `mongod`. So, for ubuntu-precise-64 I removed `mongod` files. And it worked for me.

[code]

[2014-12-19 07:24] serebrov opened #358 "Amazon AWS issues"
I am learning AWS OpsWorks and trying to deploy a single mongodb instance via OpsWorks.
On the way I had problems using the mongodb recipe with both Amazon Linux 2014.09 and Ubuntu 14.04.
## Ubuntu 14.04

The default mongo config file is is `/etc/mongodb.conf` while ubuntu actually uses `/etc/monod.conf`.
So any custom mongo settings are not applied.

The solution seems to be (I didn't actually ve

[2014-12-21 21:05] codezomb commented on #326
Any update on getting the fix merged in? I'm running across this issue now, and the only thing I've been able to do is modify the role after the initial run.

[2014-12-24 07:42] mirzali commented on #358
I have installed it into the Ubuntu 14. The cookbook makes config file (among others) at /etc/mongodb.conf . However the problem is that service mongodb is already started with a config file at /etc/mongod.conf (without any custom settings). I presume this is from the default package installation.

So one of the possible solutions is to

[code]

and it will pick up the correct config file. This do

[2015-01-06 21:53] samperman commented on #316
Trying to upgrade from 2.4.x to 2.6.x and tripping over this. Is changing the default_init_name the recommended workaround at this point?

Also, are there guidelines somewhere for the "correct" way to upgrade a chef managed mongo cluster?

[2015-01-16 13:38] spajus commented on #343
That init.d scipt is not controlled by chef, `service mongodb start` should do the trick. Although this cookbook could probably remove `/etc/init.d/mongodb` when upstart is used.

[2015-01-27 16:04] jeffmacdonald opened #361 "Chef Supermarket"
Hi,

Not a bug per se: but the fact that this same cookbook exists on the supermarket but at one version below .16.3 and doens't link to github at all is quite confusing :)

Jeff.

[2015-02-02 11:55] apalethorpe commented on #326
I've been having this problem too, I solved it by having a custom recipe get called before recipe[mongodb::user_management] is run in my chef role:

[code]

This gives it a maximum of two minutes to wait for Mongo to respond before it tries to create the admin user. Seems to work fine for me :)

[2015-02-03 06:10] daxsorbito opened #362 "Error executing action `create_if_missing` on resource 'template[/etc/mongodb.conf]'"
Hi,

I would get this error **Error executing action `create_if_missing` on resource 'template[/etc/mongodb.conf]'** using this cookbook. I added **recipe[mongodb::install]** in the run_list.

Do I have to configure/set something?

The log could be seen [here](https://gist.github.com/daxsorbito/1db85e78d773c6927b7d#file-mongodb-install-problem).

Thanks.

Dax

[2015-02-11 18:55] david-martin commented on #341
seeing a similar issue
ubuntu 12.04

[code]

Looks like the mongodb-org package just isn't there at that version.
Seems to be >=2.6.0 only
http://downloads-distro.mongodb.org/repo/debian-sysvinit/dists/dist/10gen/binary-amd64/

[2015-02-11 19:24] david-martin commented on #341
Including this recipe

[code]

results in the following log output from 10gen_repo.rb

[code]

This in turn sets the package name to mongodb-org in mongodb_org_repo.rb

[code]

Then when running recipes/install.rb, the mongodb-org package is the one that (attempts to) get installed
Solution may be to override the package_name with `mongodb-10gen` after running `mongodb::10gen_repo`, then run `mong

[2015-02-11 21:21] castro1688 commented on #316
Still exists with 2.6.x

[2015-02-12 15:54] monkey1016 opened #364 "Eliminating CHEF-3694 warnings during install"
Hi
I've been going through our cookbooks trying to eliminate the [CHEF-3694](https://tickets.opscode.com/browse/CHEF-3694) warning since it's actually caused some unexpected behavior with the upgrade to Chef 12.  By chance, is there any guidance on how the warning can be avoided with this cookbook?  Here is an example of the output I'm seeing:

[code]

Thanks!

[2015-02-13 11:55] dennybaa opened #365 "Wrong configuration of attributes for centos. sysvinit race condition."
Hello,

Using centos 7 with `install_method = 'distro'` and using package mongodb-server, not mongodb-org-server. There following issues:
1. System user is **mongodb** not mongod.
2. Cookbook provides configuration for redhat sysvinit (not systemd). But the distro ships already with systemd services for mongo which are tried by default and service doesn't start.

Here are workarounds to make it wo

[2015-02-13 17:24] cwagner22 opened #366 "Automatically start MMS agent services"
I don't understand why the `mongodb-mms-monitoring-agent` and `mongodb-mms-backup-agent`services aren't started automatically. The services are installed but unless I'm wrong they need to be started manually. (see https://github.com/edelight/chef-mongodb/blob/master/recipes/mms_monitoring_agent.rb#L49)

[2015-02-13 18:41] cwagner22 commented on #244
Any news on this?

[2015-02-14 11:21] cwagner22 commented on #244
Could someone tell me why i get this error: `Cannot configure replicaset 'rs0', no member nodes found`?
I've set `node['mongodb']['config']['replSet']` and `node['mongodb']['cluster_name']` and I run `mongodb::replicaset`

Right now I've to manually run  the command `rs.initiate()` :(

[2015-02-15 18:39] RolfKoenders commented on #362
Exact same issue here.

Running:
Ubuntu 14.04
Vagrant 1.4.3
ruby 1.9.3

In my :chef_solo block

[code]

And in the Cheffile

[code]

[2015-03-03 00:23] joelwilson commented on #326
I have gone a similar route to @codezomb to workaround this issue, but ultimately, I hope that this bug gets fixed. :+1:

[2015-03-03 17:01] sahilsk commented on #316
I am also facing same issue.  Putting package version :2.6.8 creating separate init, and configuraiton file.
 Any  help would be great.

[2015-03-03 22:57] jonaldomo commented on #353
I am using test-kitchen and having a similar issue where I need to run rs.initiate() manually.  I only have one node to configure though as I am not currently aware how to setup multiple nodes through test-kitchen.

[2015-03-04 16:23] runningman84 opened #372 "mongo_gem needs make package"
Please install the make package before building an extension:

[code]

[2015-03-04 16:30] runningman84 commented on #372
this could be a fix:
https://github.com/edelight/chef-mongodb/pull/370

[2015-03-04 17:04] rryke commented on #318
Just checking in on the results of this?

[2015-03-06 03:51] jamesonjlee commented on #31
@thekorn @tobami I think we need some more maintainers, also I've also accidentally auto piloted myself out of the org, if you could re-add me that would be swell.

[2015-03-06 09:10] tobami commented on #31
@jamesonjlee just added you. Yeah more maintainers would be good, the cookbook and issues got quite complex over the years.

[2015-03-08 22:24] geerzo opened #374 "Travis CI builds failing with Ruby 1.9.3"
The new Chef client requires Ruby 2+ so all PRs are failing on the 1.9.3 build.

[2015-03-08 22:25] geerzo commented on #358
I believe this is fixed with PR #373

[2015-03-08 23:14] ericsaboia opened #375 "Automatically upgrade mongodb version if the "package-version" was changed"
My current mongodb version is 2.4.9, and I've set the attribute:

[code]

But nothing is changing.

[2015-03-09 03:35] geerzo commented on #244
As long as you are running multiple servers in your replica set it works but the replica set isn't created until the second server is started.

[2015-03-09 10:35] thomas-riccardi commented on #361
0.16.3 is the next version, not released yet. The version number is increased as soon as the previous one is released. No issue there.
The missing link to github is an issue though.

[2015-03-09 10:50] thomas-riccardi opened #376 "mongdb::replicaset fails: config_replicaset silently fails when mongo server not ready yet"
chef-mongodb v0.16.2

With `include_recipe "mongodb::replicaset"`:

[code]

What happens?
When creating the service it is enabled and started, and immediately after that the `config_replicaset` is run (since PR #352, but the issue could still happen without this merge).
However the first service start takes time to pre-allocate the large files on disk. So the service is started, but it's not ready

[2015-03-09 10:51] thomas-riccardi commented on #353
@jonaldomo your issue is probably the same as #376: the server is not ready yet to accept replicaset configuration as it is not fully started yet.

[2015-03-09 11:02] thomas-riccardi commented on #376
For sub-issue 1 it seems all functions in libraries/ just log error or warnings, but don't return/raise an error...

[2015-03-09 11:06] thomas-riccardi commented on #326
The replicaSet not being ready until the end should be fixed by now by PR #352.

However, the server may not be ready yet when chef sends commands (create user, but also configure replicaSet):
The first start of MongoDB server pre-allocates multiple large files (> 4GB) by default, which takes some time. During that the start service has already returned, and chef proceeds with creating the replica

[2015-03-13 20:44] zarry opened #378 "When specifying a package version, the packages below metapackage do not respect version"
When specifying a specific package version to install, the metapackage installed is of the correct version but the packages below that are not correct.

[code]

[code]

The mongo documentation talks about specifying the version for each subpackage during install.

http://docs.mongodb.org/manual/tutorial/install-mongodb-on-ubuntu/?_ga=1.205420498.331254452.1423066281#install-a-specific-release-of-m

[2015-03-15 16:01] nabulaer commented on #358
on first install it will run mongod upstart instead of mongodb , but stop and start the instances and it will revert to mongodb with the correct config

[2015-03-17 19:31] seeafish commented on #316
Doing `node.override['mongodb']['default_init_name'] = 'mongod'` as @Igorshp mentioned worked for me as well, but it's not ideal. If anything, it's rather confusing that setting it to `mongod` means that the `mongdb` config is loaded.

[2015-03-19 11:50] whysthatso commented on #318
hey, totally forgot to follow up on this (me=ghost)

so i'm revisiting the mongo cookbook as we are finally moving the mongos, and i think what the java cookbook maintainers are doing makes sense here, too. source:
http://blog.secaserver.com/2013/08/linux-follow-download-wget/

with the help of a colleague (thx @lauripiisang), this poc should work:

[code]

this should be manageable via attributes

[2015-03-19 15:16] gswallow opened #379 "Replicaset configuration when all original instances are replaced?"
Hi,

I am working on restoring a replicaset from EBS snapshot.  When I bring up three new instances with Chef, I hit line 101 of libraries/mongodb.rb, which doesn't match the error message.  My returned error message is:

"local.oplog.rs is not empty on the initiating member.  cannot initiate."

None of the IP addresses of the new MongoDB servers are the same as they were, previously, because I'm

[2015-03-19 18:41] #379 closed, assigned to nobody

[2015-03-28 00:24] joshystuart commented on #358
I'm still having issues with this. Can anyone detail a step by step solution? Or a more permanent fix in code?

@geerzo I am trying your suggested fix but it doesn't seem to be working.

[2015-03-29 22:13] geerzo commented on #358
@crimsonronin You applied the PR I submitted to your local copy and you are still getting this error?

[2015-03-29 22:19] joshystuart commented on #358
Hi @geerzo, I tried the PR but it still threw up the same error. I then commented out the whole section and it seemed to work fine https://github.com/evergram/chef-mongodb/commit/a9f76e5050268f203ccebd9b97ef11ffc2303f14.

I haven't had time to look into a more permanent solution yet.

[2015-03-30 14:58] thomas-riccardi opened #385 "Is this project still maintained?"
There has been no commit since dc5836318a27331f605f264d946931927dd26bb8 (2014-11-11), although important issues have been reported (like ubuntu completely broken by default), and many PR proposed, but not answered.

So...
Is there still a maintainer for this project?

[2015-04-01 15:40] zarry commented on #385
I am going to assume it is not.  I have had an open issue for ~20 days without so much as a response.

Hopefully I can be pleasantly surprised with some feedback or at least the owners get in contact to add a few contributors who are open to maintaining this cookbook.  I wouldn't mind lending a hand.

Otherwise is the next step we all get behind a fork?

[2015-04-02 17:27] ghost commented on #385
the staggering amount of unmerged PRs and lack of issue resolution makes it kind of clear no one is maintaining this project.. sad because it appears no one has a mongodb cookbook to replace it?

[2015-04-02 19:59] josephholsten commented on #385
I haven't had time to contribute in half a year, mostly because I don't work with chef in my current role.

I'd be happy to help get the project out from under this burden, but I need at least one other person to help maintain. @zarry, @nukepuppy, @triccardi-systran do you have time to help stay on top of incoming tickets if I handle the backlog?

[2015-04-02 20:35] zarry commented on #385
@josephholsten Honestly I think we would have the most success with a few active contributors.  I don't mind being one of those but I wouldn't feel comfortable being the only active contributor as my available time to work on these sorts of things can vary greatly week to week.

That being said, I have no problem being one of those active contributors and helping you churn through some of this bac

[2015-04-03 15:31] geerzo commented on #385
@josephholsten I would also be willing to help. We are starting to use Mongo more and need Chef support. I would much prefer to help here than maintain my own clone.

[2015-04-03 15:35] geerzo opened #386 "ReplicaSet fails due to Mongo gem version change"
Mongo just released version 2.x of their client gem which is pulled into this cookbook by default. Something in that version appears to break it's usage. For now the simple change is to change the attributes file to specify version 1.12.1 of the mongo gem until it can be made to work with 2.0.

[2015-04-06 02:33] geerzo commented on #386
Will be solved by #384. Closing this.

[2015-04-06 02:33] #386 closed, assigned to nobody

[2015-04-06 18:30] josephholsten commented on #385
@zarry @geerzo OK, I'll help get this to a stable place with you. The first thing I'm going to do is put together a status update like https://github.com/edelight/chef-mongodb/issues/41#issuecomment-32674362

There's two kinds of things I want knocked out quickly: ready-to-merge changes and bug reports that are no longer valid. After that, I want bug triage and follow up on all open tickets.

Soun

[2015-04-07 13:37] zarry commented on #385
@josephholsten That sounds like a great start to me.  Let me know what you need from me.

[2015-04-07 14:20] thomas-riccardi commented on #385
@josephholsten I can try to write a PR for my issues (like #376), but I would need some guidance (and some time) as I'm not familiar with chef recipes, especially this one.

[2015-04-07 14:27] thomas-riccardi commented on #376
How to fix those issues?

# Sub-issue 1:

How should we return an error from the functions in `libraries/mongodb.rb` ? And in `definitions/mongodb.rb` ? Throw an exception (which one?) ? Call `Chef::Application.fatal` ?

# Sub-issue 3:

Should we bug-report to MongoDB Inc.?
Or should we hook into Chef services providers to add a wait loop?
Or should we `notify :immediately` an extra ruby block tha

[2015-04-09 01:42] geerzo commented on #385
@josephholsten Let me know how I can help. Is there a way to fix the Travis CI issue (#374) and then rerun all the PRs to see which ones really fail?

[2015-04-09 19:14] castro1688 commented on #145
With the release of MongoDB 3.0.1 SSL is prebuilt in the community version coming from apt.

[2015-04-16 09:21] cvakiitho commented on #86
In case someone stumbles to ringular issue in future, I fixed that by uninstalling mongodb-org from my centos, not sure why it was installed in first place, but `yum erase mongodb-org` got it fixed.

[2015-04-21 23:15] jayashreen commented on #320
Hi, i have been trying to use the user_management recipe for enabling user authorization  on the mongo clusters.. thought i have tried to get it to work on manually on a sharded cluster.. i am having problems to deploy this automatically. Could you please help clarify few of my confusions around using user_management recipe?
1. is the user_management recipe to be included and used only in shard se

[2015-04-22 20:29] jayashree-nataraj commented on #320
Hi @cjhubert @johnoliver

i have been trying to use the user_management recipe for enabling user authorization on the mongo clusters.. thought i have tried to get it to work on manually on a sharded cluster.. i am having problems to deploy this automatically. Could you please help clarify few of my confusions around using user_management recipe?
1. is the user_management recipe to be included and

[2015-04-22 21:49] cjhubert commented on #320
@jayashreen It sounds like you're trying to add users in a sharded/replicated set and not a single node, correct? If so, I would recommend checking out [this repo](https://github.com/cjhubert/mongodb-cluster/tree/user-mangement) which has an example of running it using chef_solo with 3 config servers, 3 mongod servers, and 1 mongos server.

[2015-04-24 08:04] rex commented on #385
@josephholsten I'm a little late to this party but I'd like to offer my help to resolve issues and bring things up to speed.

I think this repo is a victim of its own success. Unfortunately, however, as the single most downloaded MongoDB repo in the supermarket the maintainers of this repo have (likely involuntarily) assumed a responsibility to maintain it. I know it's a lot of work and that's why

[2015-04-24 08:09] rex opened #388 "Version 0.16.1/2 failing in 'vagrant up' - NoMethodError: undefined method `helpers'"
Hey guys,

Recipe versions `0.16.2` and `0.16.1` are broken during the `vagrant up` process. More comprehensive output and users experiencing the same issue can be found here: https://github.com/aderyabin/rove/issues/43

It would appear that `helpers.rb` is missing in those versions, as `0.16.0` resolves the issue.

[2015-04-24 22:34] gdegremont-purch opened #389 "config_replicaset fails: Could not connect to database uninitialized constant Mongo::ConnectionFailure"
My cookbook set a bunch of attributes  (mostly specifying port number, replicaset name and cluster name) then calls:
include_recipe "mongodb::10gen_repo"
include_recipe "mongodb::replicaset"

The chef-client does not return an error and the mongodb server is up, I can connect to it, but replicaset is not configured and rs.status() gives me:

Looking at the logs, I see the following:

[code]

[2015-04-28 03:10] jperville commented on #385
Also willing to help, at least for ubuntu-specific issues/PRs.

[2015-04-28 03:32] armanuorder commented on #389
I had the same problem. Mongo::MongoClient is no longer available in the mongo gem as of the 2.X release series. Try the fix in https://github.com/edelight/chef-mongodb/pull/384/files as that's what worked for me.

You have to pin the version of mongo rubygem to one that is compatible with the call this cookbook makes, and then make sure to remove the newer mongo version 2 gem from /opt/chef/embed

[2015-04-28 14:44] gdegremont-purch commented on #389
I pinned the mongo rubygem to latest 1.x version (1.12.1) and it now works.

Thanks for your help.

[2015-04-28 14:44] #389 closed, assigned to nobody

[2015-04-28 23:29] rex commented on #385
cc @thekorn @edelight @jamesonjlee

[2015-05-05 11:01] luishdez commented on #385
It looks that most of the members of the edelight group have a pretty low activity on github … I guess the most wise is to fork this to a new organization and add some members to contribute or may be the owners will transfer this repo if they don't want to maintain it anymore.

Glad to help as well

[2015-05-08 15:20] bkconrad commented on #385
I'm willing to pitch in, too

[2015-05-08 20:13] josephholsten commented on #385
@luishdez I fully support a new home for this cookbook.

[2015-05-08 20:15] zarry commented on #385
@luishdez @josephholsten We would need access to publish on supermarket in place of the current mongodb cookbook up there in addition to a new github home.

Consider me available to help on this when we do find a new home. Anyone out there feel strongly enough to take ownership?

[2015-05-08 20:25] michaelcarruthers commented on #385
@josephholsten I am to lend a hand. I don't have many public commits to back up my experience, however I am very capable of getting involved.

[2015-05-08 20:35] josephholsten commented on #385
ok, you all should be added to github.com/chef-brigade. If I screwed up your invitation, please let me know.

[2015-05-08 20:51] luishdez commented on #385
@josephholsten Great!!

If we intend to fork this repo to become a primary repo for mongo, I'll recommend to fork the repo in a new repo ( not the github way ) to avoid the ( sub-link form info ) and add a Readme note about the fork. Because this gives the sensation that it's not a primary repo and people will go to the original repo.

[2015-05-08 20:54] josephholsten commented on #385
@luishdez I see the point to that, but it'll make it much more difficult to get existing pull requests merged.

perhaps someone at @edelight would be willing to do a formal repo transfer?

[2015-05-08 22:58] luishdez commented on #385
@josephholsten I think we can pull all the existing pull requests as those are just branches. Then push the unmerged branches and convert them to Pull requests.  It will be like having the original PR though we'll loose the comments and the original title of the PR…

1: clone the original repo
2: Add `fetch = +refs/pull/*/head:refs/remotes/origin/pr/*`to remote origin in `.git/config`
3: git fetch

[2015-05-09 01:11] josephholsten commented on #385
@luishdez you should have the perms to create a repo under @chef-brigade, yes? Go ahead and create the repo, push up to it and I'll delete the fork one.

[2015-05-12 16:34] dmarcelino commented on #358
:+1: I've also experienced this.

@nabulaer's suggestion worked, thanks!

[2015-05-12 20:14] pauzed commented on #385
I'm happy to assist as well if necessary.  I don't have a lot of free cycles for active cookbook development, but can help with PR reviews/merges if extra hands are requested.

[2015-05-21 07:37] shooding commented on #199
still get 'no member nodes found' using AWS Opsworks. My default OS is Ubuntu 14.04 LTS

Custom JSON

[code]

After log in with SSH and show rs.status(), i still need to do rs.initiate() manually.
Here
https://netinlet.com/blog/2014/01/18/setting-up-a-mongodb-replicaset-with-aws-opsworks/
suggests to run command on recipe mongodb:replicaset after instances are up to avoid timing issue.

But it did

[2015-05-21 18:49] punnie commented on #385
Perhaps it would be a good idea to leave a warning in this project's README.md for people that end up here and skip the issues section, or pointing at the @chef-brigade repository.

[2015-06-10 15:12] supergrilo opened #392 "User management support one user any databases?"
The user_management recipe can support create an user to use many databases?
something like that

[code]

[2015-06-12 10:14] vijay32 opened #393 "Replica set not initiated due to : WARN: Could not connect to database: 'localhost:27017', reason: uninitialized constant Mongo::ConnectionFailure"
I am trying to setup mongodb replica sets using this cookbook. Installation and configuration went fine except for the error message:

ruby_block[config_replicaset] action create[2015-06-12T15:38:43+05:30] WARN: Could not connect to database: 'localhost:27017', reason: uninitialized constant Mongo::ConnectionFailure

The error indicates, it cannot connect to the mongo instance, however the server

[2015-06-12 21:42] supergrilo commented on #392
@jamesonjlee can you help?

[2015-06-15 10:13] thomas-riccardi commented on #393
Duplicate of #389

[2015-06-15 13:46] ballerabdude commented on #392
@supergrilo This cook book will install version 2.4.9 of the mongo shell. Version 3 started supporting creating users the way you are creating it. In your version you have to do it this way

[code]

You have to do this for every database. This cookbook is out of date use this one they maybe taking it over https://github.com/chef-brigade/mongodb-cookbook. Here is more info on adding a user with you

[2015-06-16 19:13] supergrilo commented on #392
@ballerabdude this way works on 2.x mongod.

If you need allow user to siwtch between databases, in the same connection session, you need to do this auth configuration in the same database.

maybe turn this issue a feature request?

[2015-06-23 21:06] zengwu commented on #176
ran into the same issues with mongodb 3.0.4, just wondering the problems are fixed?

[2015-07-01 00:50] rentrop commented on #358
Are there any updates on this topic?
Just tried it again: `mongodb::default` works fine on Ubuntu LTS 14.04 but fails on Amazon Linux.

[2015-07-01 07:36] vidur-88 opened #396 "recipe mongodb_org_repo.rb"
keyserver 'hkp://keyserver.ubuntu.com:80' is not working fine.
it is working for me if I change keyserver 'keyserver.ubuntu.com' like this.
So, it should add in attributes for changing as user wants to change.

[2015-07-08 15:42] geerzo commented on #358
I haven't done anything here because it works for me. I'm using this fork https://github.com/geerzo/chef-mongodb/tree/amazon_linux_support which is where the PR came from. I'm curious why it won't work for others though. I'm running multiple Amazon Linux servers using it just fine.

[2015-07-08 15:44] geerzo commented on #358
Actually, one note is I'm running replica-sets, I don't think I've tried running mongoldb:default in a long time. Maybe that is broken?

[2015-07-17 18:21] josephholsten commented on #309
moved to https://github.com/chef-brigade/mongodb-cookbook/issues/72

[2015-07-17 18:21] #309 closed, assigned to nobody

[2015-07-17 18:21] josephholsten commented on #141
Moved to https://github.com/chef-brigade/mongodb-cookbook/issues/73

[2015-07-17 18:21] #141 closed, assigned to nobody

[2015-07-17 18:22] josephholsten commented on #165
Moved to https://github.com/chef-brigade/mongodb-cookbook/issues/74

[2015-07-17 18:22] #165 closed, assigned to nobody

[2015-07-17 18:22] josephholsten commented on #179
Moved to https://github.com/chef-brigade/mongodb-cookbook/issues/75

[2015-07-17 18:22] #179 closed, assigned to nobody

[2015-07-17 18:23] josephholsten commented on #196
Moved to https://github.com/chef-brigade/mongodb-cookbook/issues/76

[2015-07-17 18:23] #196 closed, assigned to nobody

[2015-07-17 18:24] josephholsten commented on #215
Moved to https://github.com/chef-brigade/mongodb-cookbook/issues/77

[2015-07-17 18:24] #215 closed, assigned to nobody

[2015-07-17 18:25] josephholsten commented on #308
Moved to https://github.com/chef-brigade/mongodb-cookbook/issues/78

[2015-07-17 18:25] #308 closed, assigned to nobody

[2015-07-17 18:25] josephholsten commented on #122
Moved to https://github.com/chef-brigade/mongodb-cookbook/issues/79

[2015-07-17 18:25] #122 closed, assigned to nobody

[2015-07-17 18:31] josephholsten commented on #388
@rex can you move this to https://github.com/chef-brigade/mongodb-cookbook/issues and close?

[2015-07-17 18:34] josephholsten commented on #385
ok, we're fully up to speed at https://github.com/chef-brigade/mongodb-cookbook, and got the readme update in https://github.com/edelight/chef-mongodb/pull/399

[2015-07-17 18:35] josephholsten commented on #378
@zarry can you move this to https://github.com/chef-brigade/mongodb-cookbook/issues and close?

[2015-07-17 18:36] josephholsten commented on #224
@jamesonjlee can you move this to https://github.com/chef-brigade/mongodb-cookbook/issues and close?

[2015-07-17 18:36] josephholsten commented on #153
@jamesonjlee can you move this to https://github.com/chef-brigade/mongodb-cookbook/issues and close?

[2015-07-17 18:37] josephholsten commented on #229
@jspiewak can you move this to https://github.com/chef-brigade/mongodb-cookbook/issues and close?

[2015-07-17 18:38] josephholsten commented on #374
@geerzo can you move this to https://github.com/chef-brigade/mongodb-cookbook/issues and close?

[2015-07-17 18:56] zarry commented on #378
done and done!

[2015-07-17 18:56] #378 closed, assigned to nobody

[2015-07-17 19:45] rex commented on #388
@josephholsten Done. https://github.com/chef-brigade/mongodb-cookbook/issues/81

[2015-07-17 19:45] #388 closed, assigned to nobody

[2015-07-22 03:20] jspiewak commented on #229
Was on vacation, ack'ing request, but likely won't get to it until caught up on work.

[2015-07-23 22:54] ericfrancis commented on #362
I am also seeing this issue with chef-solo

# provision.sh

[code]

# dev_ops_database/recipes/default.rb

[code]

# dev_ops_database/metadata.db

[code]

# solo.json

[code]

# solo.rb

[code]

[2015-07-27 22:25] yuhanz opened #401 "override rs.members.host with specified names"
We have the requirement of being able to specify the hostname at each member in a replicaset.

currently, this recipe sets the host name for rs.members.host with the value in node[:fqdn]. but in aws-environment, the host name changes. so we'd like to be able to override it with a static ip. (for some reason, configure through DNS is not an option.)

The proposed solution is the have an override at

[2015-08-03 16:29] mitchross commented on #358
Any update, I think mongodb:default is broken?

[2015-08-17 11:32] dyf182 opened #403 "install fails within amazon web services"
For the past couple of days ( starting the 16th Aug) we've been having an issue where using the cookbook alongside opsworks where all instances within our aws stack are failing to setup correctly. Upon checking the setup logs we're seeing this:

STDOUT: Resolving cookbook dependencies...
Fetching 'mongodb' from source at .
Fetching cookbook index from http://api.berkshelf.com...
Error retrieving u

[2015-08-17 14:16] #403 closed, assigned to nobody

[2015-08-21 22:41] #401 closed, assigned to nobody

[2015-09-29 12:17] miguelcnf commented on #358
The problem is this platform [check](https://github.com/edelight/chef-mongodb/blob/master/definitions%2Fmongodb.rb#L196) and the fact that amazon reports as rhel familly.

[code]

It should check platform and not only platform_family.

[2015-11-02 04:04] deanpeterson opened #408 "How do I run this?"
I am new to Chef.  I am trying to get a replica set going.  Where do I specify the nodes or ip addresses to run this on?  Do I use a knife command?  Do I do something like  knife bootstrap ADDRESS --run-list 'mongodb::replicaset, node['node1']['mongocluster'],node['node2']['mongocluster']'   ?

That does not work.  When I just run it with 'mongodb::replicaset' I get a 400 Bad Request error.

[2015-11-19 04:39] dvinograd commented on #389
Hi guys ,

This issue took a lot of our time to track down . We've upgraded to Chef 12 and suddenly "ruby block config_replicaset" stopped doing its job , without any slight indication , warning or error message . It literally looks like this in chef-client run :

[code]

The only indication of an issue is replicaset configs not updated on node provisioning / removal .

Finally we tracked this dow

[2015-11-19 09:59] thomas-riccardi commented on #389
This cookbook is old and unmaintained, so in case of trouble when using it, please check for issues in this bugtracker and the one on the cookbook fork (https://github.com/chef-brigade/mongodb-cookbook): common issues are often documented with either a workaround or "there is currently no solution, please help us".

[2015-12-09 20:28] lianyi commented on #358
+1

[2015-12-17 19:37] huyanhvn commented on #365
https://github.com/edelight/chef-mongodb/pull/409

[2015-12-17 19:46] huyanhvn commented on #315
https://github.com/edelight/chef-mongodb/pull/409

[2015-12-21 16:08] casmarc commented on #408
Learning chef with this cookbook is the equivalent of learning plumbing on the death star.

[2015-12-23 19:25] josephholsten commented on #393
I strongly encourage you to look at https://github.com/chef-brigade/mongodb-cookbook, which is maintained.

[2015-12-23 19:25] josephholsten commented on #396
I strongly encourage you to look at https://github.com/chef-brigade/mongodb-cookbook, which is maintained.

[2015-12-23 19:26] josephholsten commented on #408
I strongly encourage you to look at https://github.com/chef-brigade/mongodb-cookbook, which is maintained.

[2016-01-05 18:46] inhumantsar commented on #385
@josephholsten Can you update the readme and update the supermarket page for this module? I had to stumble on this issue before noticing that work had been transitioned away.

[2016-01-05 23:39] josephholsten commented on #385
nope, I don't have write access

[2016-04-28 14:54] naumchenko opened #412 "Support for poise-python instead python cookbook"
Is this cookbook supports poise-python already? python appears to be deprecated?

WARNING: DEPRECATION: This cookbook has been deprecated. It has been replaced by poise-python.
WARNING: Use --force to force download deprecated cookbook.
Removing pre-existing version.
Uncompressing python version 1.4.6.
ERROR: Mixlib::ShellOut::ShellCommandFailed: Expected process to exit with [0], but received '1'

[2016-06-07 01:38] chartotu19 opened #415 "mongodb::default installs v2.4.9 (instead of 3.2) on Ubuntu 14.04"
I am running mongodb::default recipe in one of AWS EC2 instances via opswork. I tried passing the version by setting package_version `node.set[:mongodb][:package_version]`

Error message:

[code]

I checked apt-cache `apt-cache show mongodb` and found 2.4.9 seems to be the latest version.

What am I missing?

[2016-06-07 01:59] chartotu19 commented on #415
Found the issue, I did not add `include_recipe "mongodb::mongodb_org_repo"` before `include_recipe "mongodb::default"` in my custom recipe.

I still got mongodb v2.6 installed. I checked apt sources file and found this `deb      "http://downloads-distro.mongodb.org/repo/ubuntu-upstart" dist 10gen`. doesnt seem right.

[2016-08-30 10:01] manojVivek opened #416 "mongodb_instance with different names using the same sysconfig file(which in turn force using the same mongo conf file)"
I am creating a new mongo instance using the following recipe:

[code]

Running this recipe made following:

Created /etc/sysconfig/mongodb with content:

[code]

Created /etc/mongodb.conf with content:

[code]

Created a /etc/init.d/test_mongo with usual content.

**Here in the above generated files, the configs that I have mentioned(port and datapath) were not considered.**

Also if I run the fo

[2016-10-11 14:01] #176 closed, assigned to nobody

[2016-11-04 09:20] lmilbaum opened #417 "DEBUG: apt_package[mongodb] candidate version for mongodb is (none)"
I would like to install mongodb 3.2.7 on Ubuntu 16.04.
Specified in the file: attributes/default.rb
override[:mongodb][:package_version] = '3.2.7'

Output:
169.46.88.66   * apt_package[mongodb] action install
169.46.88.66     * No candidate version available for mongodb
169.46.88.66     ================================================================================
169.46.88.66     Error executin

[2016-12-28 19:24] mdivk commented on #289
I got this when I run mongos:

if I comment out chunkSize in the mongos.conf, I got the following:

My mongos.conf is as below:
[code]

Thanks.

[2017-03-06 14:15] gigo6000 opened #418 "Error starting service on Ubuntu 16.04 (xenial64)"
I'm using this box in Vagrant:

[code]

And here's the error:

[code]

[2017-04-12 06:29] josephholsten commented on #418
This repo is EOL, but the code lives on at https://github.com/sous-chefs/mongodb. Could you give that cookbook a look and let us know if it doesn't fix your issue?

[2017-04-12 06:29] josephholsten commented on #417
This repo is EOL, but the code lives on at https://github.com/sous-chefs/mongodb. Could you give that cookbook a look and let us know if it doesn't fix your issue?

[2017-04-12 06:29] josephholsten commented on #416
This repo is EOL, but the code lives on at https://github.com/sous-chefs/mongodb. Could you give that cookbook a look and let us know if it doesn't fix your issue?

[2017-04-12 06:30] josephholsten commented on #415
This repo is EOL, but the code lives on at https://github.com/sous-chefs/mongodb. Could you give that cookbook a look and let us know if it doesn't fix your issue?

[2017-04-12 06:30] josephholsten commented on #412
This repo is EOL, but the code lives on at https://github.com/sous-chefs/mongodb. Could you give that cookbook a look and let us know if it doesn't fix your issue?

[2017-10-20 13:46] #327 closed, assigned to nobody

[2020-03-13 16:53] #361 closed, assigned to nobody

[2021-02-18 10:20] #252 closed, assigned to nobody

[2021-10-21 16:57] #330 closed, assigned to nobody

[2021-12-19 04:33] #374 closed, assigned to nobody